CompileFlags:
  CompilationDatabase: build/debug
  Compiler: "c:\\PROGRA~1\\MIB055~1\\2022\\COMMUN~1\\VC\\Tools\\Llvm\\x64\\bin\\clang-cl.exe"
  Add: 
    - -std=c++23
    - -fms-compatibility
    - -fms-extensions
    - -DWIN32
    - -D_WINDOWS
    - -D_CRT_SECURE_NO_WARNINGS
  Remove: [-W*]

Index:
  Background: Build
  StandardLibrary: true

Diagnostics:
  ClangTidy:
    Add: 
      - modernize-*
      - performance-*
      - cppcoreguidelines-*
      - bugprone-*
      - readability-*
    Remove:
      - modernize-use-trailing-return-type
      - modernize-avoid-c-arrays
      - cppcoreguidelines-avoid-magic-numbers
      - cppcoreguidelines-avoid-c-arrays
      - cppcoreguidelines-macro-usage
      - cppcoreguidelines-pro-bounds-pointer-arithmetic
      - readability-magic-numbers
      - bugprone-easily-swappable-parameters
      - cppcoreguidelines-pro-type-reinterpret-cast
      - readability-redundant-access-specifiers
      - readability-isolate-declaration
      - cppcoreguidelines-pro-bounds-constant-array-index
      - cppcoreguidelines-pro-bounds-array-to-pointer-decay
      - readability-else-after-return
      - cppcoreguidelines-pro-type-union-access
      - performance-no-int-to-ptr
      - cppcoreguidelines-non-private-member-variables-in-classes
